version: 2
jobs:
  build:
    working_directory: ~/build
    docker:
    - image: circleci/golang:1
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.11.0-ce
      - run: make ci-docker-build

workflows:
  version: 2
  development:
    jobs:
      - build
